@if (spinner) {
<app-spinner></app-spinner>
}

<div class="container">
    <div class="card">

        <div class="card-header text-end">
            <button routerLink="/user-create"
                    class="btn btn-primary btn-sm">Add New</button>
        </div>


        <div class="card-body">


            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm text-center">
                    <caption>User List</caption>
                    <thead>
                        <tr>
                            <th scope="col">S.no</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Role</th>
                            <th scope="col"
                                colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of Users; track $index) {
                        <tr class="">


                            <td>{{ $index+ 1 }}</td>
                            <td>{{ user.Email }}</td>
                            <td>{{ user.Password }}</td>
                            <td>{{ user.RoleName }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm me-2"
                                        (click)="onEdit(user)">
                                    Edit
                                </button>

                                <button class="btn btn-danger btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        (click)="openModal(user)">
                                    Delete
                                </button>
                            </td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade"
     id="deleteModal"
     #deleteModal
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="staticBackdropLabel">User Deletion</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <h6 class="mb-3">Are you sure you want to delete <span class="text-primary"> "{{ selectedUser.Email
                        }}"</span> profile?
                </h6>
                <p>All information associated to this user profile will be permanently deleted. <span
                          class="text-danger">
                        This operation can not be undone.
                    </span></p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary btn-sm"
                        data-bs-dismiss="modal"
                        (click)="closeModal()">Cancel</button>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        data-bs-dismiss="modal"
                        (click)="onDelete(selectedUser)">Ok</button>
            </div>
        </div>
    </div>
</div>